langchain
langchain-community
python-dotenv
langchain-openai
langchain-google-genai
langchain-mistralai
langchain-openrouter
langchain-core
streamlit
pydentic
langchain-text-splitters
sentence-transformers
chroma
pypdf
langchain-huggingface
langchain-tavily
langgraph
langgraph-checkpoint-sqlite
langchain_chroma
rank_bm25